
.answer-list{
    list-style: none;
   
    width: 580px;
    margin-left: -60px;
   
}

.captura2-wrapper {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: -22px;
    
}
.captura2 {
    
    border: 1px solid black;
    max-width: 100%;
    max-height: 320px;
  }

.card-datos2{
    margin-right: 19px;
    text-align: right;
}

.experto{
    color: limegreen;
    font-weight: bold;
}

.puntuacion{
    margin-top: 40px;
        
}

.descripcion{
    margin-left: -19px;
}