  

  .ask-list{
    list-style: none;
    border-bottom: 1px solid black;
    width: 550px;
  }

  .responder{
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 16px;
    background-color: limegreen;
    color: black;
  }

  .card-datos{
    padding: 5px 6px 7px 7px;
    text-align: right;
    margin-top: 20px;
        
  }

  .fecha{
    margin-top: 15px;
  }
  .separacion{
    color: white;
  }
  .user{
    color: dodgerblue;
    font-weight: bold;
  }