.pregunta {
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    position: relative;
    text-align: center;
    height: 420px;
    width: 425px;
    background-color: #C0C0C0;
    margin-top: 40px;
}
.titulo{
    width: 420px;
    height: 18px;
    margin-right: 20px;
    
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid black;
}
.cuerpo{
    width: 420px;
    height: 190px; 
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}
  
.pregunta label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.pregunta button {
    background-color: dodgerblue;
    border-radius: 15px;
    margin-top: 40px;
}