.respuesta {
    border: 2px solid black;
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
    position: relative;
    text-align: center;
    height: 210px;
    width: 300px;
    background-color: limegreen;
}
.respuesta .cuerpo{
   height: 130px;
   
}
  
.respuesta label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.respuesta button {
    background-color: steelblue;
}