
.nueva{
  cursor: pointer;
  margin-top: 80px;
  margin-bottom: 40px;
  border-radius: 15px;
  background-color: dodgerblue;
}

.buscador{
  position: fixed;
  margin-left: -280px;
}

button{
  cursor: pointer;
}