.edit {
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    height: 450px;
    width: 420px;
    background-color: darksalmon;
    margin: auto;
    margin-top: 18vh;
}

.photo-user{
  background-position: center center;
  background-size: cover;
  border: 1px solid black;
  height: 32px;
  margin-right: 8px;
  width: 32px;
}
  
.edit label {
    display: flex;
    justify-content: space-between;
    text-align: start;
    margin-bottom: 10px;
    
}

.edit input:not([type="file"]) {
    border-radius: 6px;
    border: 1px solid black;
    margin-bottom: 12px;
    
}

#i{
    opacity: 0.1;
    
}

.edit button {
    background-color: lawngreen;
    margin-top: 10px;
    
    margin-bottom: 5px;
       
    cursor: pointer;
    outline: 1;
    padding: 8px 15px;
    width: 100%;
    border-radius: 15px;
    transition: background-color 2s ease-out;
}

.edit button:hover{
   background: crimson;
}

.volver{
    margin-top: 40px;
    text-align: center;
   
}

.vuelve {
    transition: color 1s ease-out;
}


.vuelve:hover{
     color: red;
}

.alinear{
    margin-right: 130px;
}
.invariable{
    margin-right: 130px;
}