.registro {
    border: 2px solid black;
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
    position: relative;
    text-align: center;
    height: 250px;
    width: 300px;
    background-color: olive;
  }
  
  .registro label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
      
  .registro button {
    margin-top: 30px;
    margin-bottom: 5px;
  }
  
  