.registro {
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    position: relative;
    text-align: center;
    height: 325px;
    width: 320px;
    background-color: darkcyan;
    margin: auto;
    margin-top: 14%;
  }

  .registro input {
    border-radius: 15px;
    border: 1px solid black;
    display: block;
    margin-bottom: 12px;
    outline: 0;
    padding: 8px 15px;
    width: 90%;
  }
  
  .registro label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
      
  .registro button {
    margin-top: 30px;
    margin-bottom: 5px;
    margin-top: 30px;
    margin-bottom: 5px;
    cursor: pointer;
    outline: 1;
    padding: 8px 15px;
    width: 100%;
    border-radius: 15px;
    background-color: coral;
    transition: background-color 2s ease-out;
    
  }

  .registro button:hover {
    background: crimson;
  }

  .experiencia{
     margin-right: 170px;
  }
  .error{
    color: red;
  }
  