.page-about{

    background-image: url(./imagenes/intro-img.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    text-align: center;
    margin-left: 30vh;
    margin-right: 30vh;
}

.content > h1{
    color: darkgoldenrod;
}

.acerca{
    color: orangered;
    margin-bottom: 70px;
    margin-left: 35vh;
    margin-right: 35vh;
}

.content button{
    background-color: yellowgreen;
    border-radius: 15px;
    font-size: 20px;
    transition: background-color 1s ease-out;
    transition: font-size, 1s ease-out;
}

.content>button:hover{
    background: orange;
    font-size: 22px;
}