@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.page-about{

    background-image: url(./imagenes/intro-img.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    text-align: center;
    margin-left: 30vh;
    margin-right: 30vh;
}

.content > h1{
    color: goldenrod;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}

.acerca{
    color: black;
    margin-bottom: 190px;
    margin-left: 35vh;
    margin-right: 35vh;
    font-family: 'Lobster', Arial, Helvetica, sans-serif;
}

.content button{
    background-color: goldenrod;
    border-radius: 15px;
    font-size: 20px;
    transition: background-color 1s ease-out;
    transition: font-size, 1s ease-out;
}

.content>button:hover{
    background: crimson;
    font-size: 22px;
}