@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.page-about{

    background-image: url(./imagenes/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    text-align: center;
    margin-left: 30vh;
    margin-right: 30vh;
}

.content > h1{
    color: goldenrod;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    margin-top: 70px;
}

.acerca{
    color: bisque;
    margin-bottom: 20px;
    margin-left: 35vh;
    margin-right: 35vh;
    font-family: 'Lobster', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.padre{
    border: 1px solid black;
    width: 1000px;
    height: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.informacion{
    border: 2px solid black;
    width: 230px;
    height: 350px;
    
}



.content button{
    background-color: goldenrod;
    border-radius: 15px;
    font-size: 20px;
    transition: background-color 1s ease-out;
    transition: font-size, 1s ease-out;
    margin-top: 40px;
    
}

.content>button:hover{
    background: crimson;
    font-size: 22px;
}