header {
  background-color: midnightblue;
  border-bottom: 2px solid black;
  box-shadow: 5px 0 8px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 3px 15px;
  height: 92px;
  width: 100%;
  position: fixed;
}

.logo{
  background-image: url(./imagenes/cloud.png);
  background-position: center center;
  background-size: cover;
  width: 100px;
  height: 80px;
  margin-left: 28px;
}

header .e {
  cursor: pointer;
  margin-right: 10px;
  margin-left: 30px;
  border-radius: 15px;
  background-color: goldenrod;
}

header .user {
  
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.user .nombre{
  color: goldenrod;
  font: bold;
}

header .photo {
  
  background-position: center center;
  background-size: cover;
  border: 1px solid black;
  border-radius: 50%;
  height: 52px;
  margin-right: 8px;
  width: 52px;
}




.user > button{
  cursor: pointer;
  margin-left: 30px;
  border-radius: 15px;
  background-color: goldenrod;
}



