
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');


header {
  background-color: midnightblue;
  border-bottom: 2px solid black;
  box-shadow: 5px 0 8px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  padding: 3px 15px;
  height: 82px;
  width: 100%;
  position: fixed;
}


.logo{
  background-image: url(./imagenes/cloud.png);
  background-position: center center;
  background-size: cover;
  width: 100px;
  height: 80px;
  margin-left: 28px;
}

.logo-titulo{
  display: flex;
  flex: 1 1 auto;
}

.titulo-w{
  flex: 1 1 auto;
  margin-top: 5px;
}

.nombre-web{
  color: deeppink;
  font-family: 'Bungee',sans-serif; 
  font: bold;
  font-size: 52px;
}

.nombre-web2{
  color: orange;
  font-family: 'Bungee',sans-serif; 
  font: bold;
  font-size: 52px;
}

.slogan{
  font-family: 'East Sea Dokdo', Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: coral;
  margin-left: 30px;
  
}


header .e {
  cursor: pointer;
  margin-right: 10px;
  margin-left: 30px;
  color: goldenrod;
  
}

header .user {
  
  display: flex;
  align-items: center;
  margin-right: 40px;
  font-family: 'Yusei Magic', Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.user .nombre{
  font-family: Helvetica, sans-serif;
  color: bisque;
  font: bold;
  margin-top: 3px;
}

header .photo {
  
  background-position: center center;
  background-size: cover;
  border: 1px solid black;
  border-radius: 50%;
  height: 52px;
  margin-right: 8px;
  width: 52px;
}




.user > label{
  cursor: pointer;
  margin-left: 10px;
  color: goldenrod;
  
}



