.page-home{
    background-image: url(./imagenes/banner_img.png);
    background-position: center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenido{
    text-align: center;
    
}

h1{
    color: goldenrod;
    margin-bottom: 100px;
}

.introduccion{

    color: lightcyan;
    margin-bottom: 70px;
    margin-left: 65vh;
    margin-right: 65vh;
    
}

.enlaces{
    
    display: inline-block;
       
}

 .enlaces>button{
    background-color: yellowgreen;
    border-radius: 15px;
    font-size: 20px;
    transition: background-color 1s ease-out;
    transition: font-size, 1s ease-out;
    
}

.enlaces>button:hover{
    background: orange;
    font-size: 21px;
}

.center{
   margin-left: 100px;
   margin-right: 100px;
}

a:link, a:visited, a:active {
    text-decoration:none;
}