.principal{
    display: flex;
        
}

.principal aside.navbar {
    background-color: dodgerblue;
    flex: 0 0 200px;
    padding: 20px;
    position: fixed;
    margin-top: 66px;
    border-right: solid 2px black;
    height: 100vh;
    width: 150px;
  }
  
  .principal main {
    background-color: white;
    border-radius: 10px;
    flex: 1 1 auto;
    padding: 20px;
    margin-top: 60px;
    margin-left: 360px;
  }

  .buscar {
    flex: 0 0 auto;
    margin-top: 60px;
    margin-right: 20px;

  }
  
  
  
  