.tematic-column{
  cursor: pointer;
  list-style: none;
  justify-content: space-between;
  
}

.tematic-column > li > a{
  
  color: black;
}

.tematic-column > li{
  padding-bottom: 12px;
}

 .active{
    text-shadow: 2px 2px 2px silver;
    font-weight: bold;
    font-size: 17px;   
}

