.principal{
    display: flex;
}

.principal aside.navbar {
    background-color: dodgerblue;
    flex: 0 0 200px;
    padding: 20px;
    height: 100vh;
    border-right: solid 2px black;
  }

  .navbar h2 {
    margin: 0 0 16px;
  }

  .principal main {
    background-color: white;
    border-radius: 10px;
    flex: 1 1 auto;
    padding: 20px;
    margin-top: 40px;
    margin-left: 60px;
  }
  
  
  
  